.clear {
  padding: 10px;
  border: 0;
  background-color: black;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 13px;
}

.items {
  padding-top: 20px;
}

.create-item {
  display: flex;
  border-top: 1px solid whitesmoke;
  padding-top: 20px;
  margin-top: 20px;
}

.create-input {
  border: 2px solid whitesmoke;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  flex-grow: 1;
}

.create-button {
  padding: 10px;
  border: 0;
  background-color: black;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 13px;
}
